<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Segmentation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Image Segmentation</h1>
    <form id="upload-form" action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>
        <button type="submit">Upload and Segment</button>
    </form>
    <div id="result">
        <h2>Original Image:</h2>
        <img id="original-img" src="" alt="Original Image">
        <h2>Segmented Image:</h2>
        <img id="segmented-img" src="" alt="Segmented Image">
    </div>
    <script>
        document.getElementById('upload-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                // Set original image source
                console.log(data.masked_image)
                document.getElementById('original-img').src = `data:image/jpeg;base64, ${data.original_image}`;
                
                // Set segmented image source
                document.getElementById('segmented-img').src = `data:image/jpeg;base64, ${data.masked_image}`;
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
