<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Segmentation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Image Segmentation</h1>
    <form id="upload-form" action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>
        <button type="submit">Upload and Segment</button>
    </form>
    <div id="result">
        <h2>Original Image:</h2>
        <img id="original-img" src="" alt="Original Image">
        <h2>Soft Image:</h2>
        <img id="soft-img" src="" alt="Soft Image">
        <h2>Binary Mask:</h2>
        <img id="segmented-img" src="" alt="Segmented Image">
        <h2>Final Image:</h2>
        <img id="final-img" src="" alt="Final Image">
    </div>
    <script>
        document.getElementById('upload-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('original-img').src = `data:image/jpeg;base64,${data.original_image}`;
                document.getElementById('segmented-img').src = `data:image/jpeg;base64,${data.masked_image}`;
                document.getElementById('soft-img').src = `data:image/jpeg;base64,${data.soft_image}`;
                document.getElementById('final-img').src = `data:image/jpeg;base64,${data.final_masked_image}`;
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
